<div>
  <%= link_to new_user_registration_path do %>
    <i class="fas fa-user-plus"> 新規登録</i>
  <% end %> 
</div>

<div>
  <%= link_to new_user_session_path do %>
    <i class="fas fa-sign-in-alt"> ログイン</i>
  <% end %>
</div>
